.menuItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70vh;
  width: 100%;
  overflow-y: auto;
}
.menuItems section {
  margin: 2px;
}
.menuItems::-webkit-scrollbar {
  width: 10px;
}
.menuItems::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #d0d8ee;
}
.menuItems::-webkit-scrollbar-thumb:hover {
  background-color: #789af0;
}
.menuItems::-webkit-scrollbar-thumb:active {
  background: #658beb;
}
.menuItems::-webkit-scrollbar-track:hover {
  background: #7095f3e3;
  border-radius: 10px;
}
.itemMenu {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 264px;
  height: 307px;
  align-items: center;
}
.itemImg {
  width: 85%;
  height: 65%;
  padding: 7%;
  border-radius: 5px;
}
.itemMenu p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  box-sizing: border-box;
  margin-top: -5px;
  display: flex;
  flex-direction: column;
}
.addButton {
  background: none;
  border: none;
  width: 60px;
  height: 60px;
  margin-left: 13rem;
  margin-top: -7rem;
  cursor: pointer;
}
.addImg {
  width: 90%;
  margin-bottom: 2rem;
}
table.menuListSummary {
  padding-top: 20px;
  width: 100%;
}
.menuSection {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 50%;
  min-height: 67vh;
  margin-top: 80px;
  right: 30px;
  padding-top: 10px;
}
tbody {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;


}

 td {
  padding: 0 2.5rem;
  font-size: 20px;

}
.menuListHeader {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 22px;
  text-align: flex-start;
  padding: 1rem 1rem 0.5rem 3rem ;
  margin: 0 8rem 3rem 0;
}
.minusButton,
.plusButton {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
}
.counterImg {
  width: 40px;
  height: 40px;
}
.counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.counter p {
  margin-left: 10px;
}

.trash-btn {
  background: transparent;
  border: none;
  padding: 1rem;
}

.trash-btn svg {
  width: 2rem;
  height: 2rem;
}

.MenuListSummary-buttons {
  width: 100%;



  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

.MenuListSummary-btn-DeleteOrder,
.MenuListSummary-btn-SendOrder {
  width: 200px;
  height:60px;
  border-radius: 12px;
  font-size: 18px;
  border: none;
  color: #fff;
}

.MenuListSummary-btn-SendOrder {
  background: linear-gradient(
    89.5deg,
    #cc30e6 18.53%,
    #698deb 56.52%,
    #24acf9 88.94%
  );

}

.MenuListSummary-btn-DeleteOrder {
  background-color: #898a8d;
  border-color: #fff;

}

.orderprice-container {
 color: #fff;
 font-size: 20px;
 margin: 2rem 0 2rem 20rem;
 font-weight: bold;
}