.modal {
  position: fixed;
  z-index: 999;
  top: -272px;
  left: -35px;
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  background-color: rgba(87, 18, 104, 0.44);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal.open {
  display: flex;
}
.modal-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 15% 85%;
  background-color: #0f0340;
  width: 80%;
  height: 85%;
  border-radius: 20px;
  justify-content: center;
  z-index: 999;
}

.additional-menu {
  width: 90%;
  justify-self: center;
  height: 95%;
}
p.add {
  font-size: 35px;
  color: white;
  text-align: center;
  padding-top: 45px;
}
.food-add {
  height: 95%;
  width: 95%;
  justify-items: center;
}
.modal-close {
  position: absolute;
  background: none;
  border: none;
  width: 7%;
  height: 7%;
  right: 11%;
  top: 11%;
}
.modal-close img{
  width: 50;
  height: 55%;
  
}
.acept {
  background: linear-gradient(
    89.5deg,
    #cc30e6 18.53%,
    #698deb 56.52%,
    #24acf9 88.94%
  );
  position: absolute;
  width: 198px;
  height: 60px;
  left: 63%;
  top: 774px;
  border-radius: 30px;
  font-size: 30px;
  color: white;
}
